<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'store/base.html' %}

{% block content %}
   <h1>Корзина</h1>
{% if cart.games.all %}
    <ul>
        {% for game in cart.games.all %}
        <li>{{ game.name }} - {{ game.price }}</li>
        {% endfor %}
    </ul>
    <p>Итоговая сумма: {{ cart.total_price }}</p>
    <button class="btn btn-success">Перейти к оплате</button>
    <a href="/checkout/" class="btn btn-success">Оплатить</a>
{% else %}
    <p>Ваша корзина пуста.</p>
{% endif %}
{% endblock %}
</body>
</html>